<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "SEARCH MOVIES:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>


<% @movies.each do |movie| %>
    <li><a href='/movie?q=<%= movie["imdbID"] %>'><%= movie["Title"] %><%=movie[""]</li> %>
<% end %>




