<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% @movies.each do |movie| %>
    <h5>Title: <%= link_to'/movie?q='%><%= movie["Title"] %></h5> 
<% end %>
