<h1> Search </h1>

<%= form_tag("/search", method: "get") do %>
    <%= text_field_tag(:q) %> <br><br>
    <%= submit_tag("Search Movies")%>
<% end %>

<% @movies.each do |movie| %>
	<div>Title: <a href='/movie?q=<%= movie["imdbID"] %>'><%= movie["Title"] %></div>
<% end %>
