<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "SEARCH MOVIES:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>


<% @movies.each do |movie| %>
    <li>Title: <%= movie["Title"] %><br>Year: <%=movie["Year"]%></li>
<% end %>




